/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--colorOscuro);
}

/* Estilos por defecto para móviles (Mobile First) */

.menu-enlaces {
    display: none;
    /* Ocultar el menú de enlaces al inicio */
    /* ... otros estilos para la lista cuando se muestre ... */
    width: 100%;
    list-style: none;
}

.boton-hamburguesa {
    display: block;
    /* Mostrar el ícono de la hamburguesa */
    font-size: 30px;
    cursor: pointer;
}

/* Estilo para mostrar el menú con JavaScript */
.menu-enlaces.activo {
    display: flex;
    /* O display: block; según el diseño */
    flex-direction: column;
}

/* Media Query: En escritorio (pantallas grandes), OCULTAR el botón hamburguesa y MOSTRAR el menú */
@media (min-width: 768px) {
    .menu-enlaces {
        display: flex;
        /* El menú siempre visible */
        width: auto;
    }

    .boton-hamburguesa {
        display: none;
        /* Ocultar el ícono de la hamburguesa */
    }
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    gap: 80px;

}

.logo h1 {
    font-family: var(--font-family-Changa);
    font-weight: var(--font-weight-Changa);
    font-size: 100px;
    margin: 0;
}

/* Lista zapatillas */

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--colorPrimario);
    font-size: 2rem;
    padding: 6px 12px;
    border: 2px solid var(--colorPrimario);
    border-radius: 4px;
}

nav a:hover {
    color: var(--colorTerciario);
}

/* Buscador */

.buscador {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buscador input {
    padding: 5px 10px;
    font-size: 1rem;
}

.buscador button {
    padding: 6px 12px;
    background-color: var(--colorPrimario);
    color: var(--colorOscuro);
    border: none;
    cursor: pointer;
    font-weight: var(--weight-Prompt-regular);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--family-Prompt);
}